.question {
    position: static;
    box-shadow: none !important;
    border-bottom-width: 2;
    border-style: none none solid none;
    border-bottom-color: var(--color-text-primary);
    border-radius: 0 !important;
    background-color: transparent !important;
}

.question:first-of-type {
    border-top: solid;
    border-top-width: 2;
    border-top-color: var(--color-text-primary);
}