.carouselContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 21 / 9;
  overflow: hidden;
  height: 842px;
}

.carouselSlide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
  position: relative;
  cursor: pointer;
}

.image {
  object-fit: cover;
}