body {
    margin: 0;
}

.input {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    height: 42px;
    font-size: 16px;
}

.btnLink {
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

.btn {
    border: none;
    border-radius: 6px !important;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.6;
}

.btnPrimary {
    background-color: var(--color-text-primary) !important;
    color: white !important;
    text-transform: none !important;
}

.btnPrimaryDark {
    background-color: var(--color-text-primary) !important;
    color: white !important;
    text-transform: none !important;
}

.btnPrimaryOutlined {
    border-color: var(--color-text-primary) !important;
    color: var(--color-text-primary) !important;
    text-transform: none !important;
}

.paperCard {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 44px;
    padding-right: 44px;
    border-radius: 29px !important;

    @media (max-width: 599px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}