.modal {
    background-color: var(--color-modal-bg) !important;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 29px !important;
    width: 480px;
    padding-top: 32px;
    padding-bottom: 54px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}