.header {
    opacity: 0.98;
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 11px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logoContainer {
    position: relative;
    width: 195px;
    height: 46px;
    justify-self: right;
    cursor: pointer;
}