.modal {
    background-color: var(--color-modal-bg) !important;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 29px !important;
    width: 480px;
    padding-top: 32px;
    padding-bottom: 54px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.topImage {
    position: relative;
    width: 100%;
    height: 80px;
}

.bottomImage {
    position: relative;
    width: 100%;
    height: 55px;
    margin-top: 38.5px;
}

.image {
    object-fit: contain;
}

.logo {
    object-fit: contain;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    text-align: center;
    width: 60%;
}

.inputContainer>input {
    text-align: center;
    width: 100%;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.actionLink {
    font-size: 18px !important;
    font-weight: 400 !important;
    margin-bottom: 25px !important;
    text-transform: none !important;
    color: var(--color-text-tertiary) !important;
}

.action {
    font-size: 16px !important;
    margin-bottom: 9px !important;
    font-weight: 400 !important;
}

.inputCustom {
    height: 42px;
    border-radius: 6;
}